@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Surfboards</h1>
    <p>Lav nyt opslag</p>
    <table>
        <tr>
            <th>Surfboard</th>
            <th>Billede</th>
            <th>Længde</th>
            <th>Bredde</th>
            <th>Tykkelse</th>
            <th>Volume</th>
            <th>Type</th>
            <th>Udstyr</th>
            <th>Pris</th>
        </tr>


    </table>
</div>
